.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre botones */
  margin-top: 50px;
}

.btn {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 5px #00000033;
  transition: all 0.2s ease;
}

.green { background-color: green; }
.red { background-color: red; }
.yellow { background-color: yellow; }
.blue { background-color: blue; }

.pressed {
  transform: scale(0.9);
  box-shadow: 0 0 10px white;
}

body {
  background-color: #011F3F;
  color: white;
  text-align: center;
  font-family: sans-serif;
}
